In [ ]:
 import pandas as pd
from sklearn.impute import KNNImputer

# 일자별 시간대별 대여내역 및 미세먼지 집계

In [ ]:
rentdust_2020=pd.DataFrame(columns=['대여일자','측정시간','count','SO2','CO','O3','NO2','PM10','PM25'])
rentdust_2021=pd.DataFrame(columns=['대여일자','측정시간','count','SO2','CO','O3','NO2','PM10','PM25'])
rentdust_2022=pd.DataFrame(columns=['대여일자','측정시간','count','SO2','CO','O3','NO2','PM10','PM25'])

In [ ]:
#2020
for i in range(12):
  lst=['01','02','03','04','05','06','07','08','09','10','11','12']
  rent_record=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/b_2020'+str(lst[i])+'.csv')
  rent_record1=rent_record[['대여일자','대여소번호','측정시간']]
  rent_record2=rent_record[['대여일자','SO2','CO','O3','NO2','PM10','PM25','측정시간']]
  hourly_count=rent_record1.groupby(['대여일자','측정시간']).agg('count')
  hourly_dust=rent_record2.groupby(['대여일자','측정시간']).agg('max')
  rentdust=hourly_count.join(hourly_dust)
  rentdust.columns=['count','SO2','CO','O3','NO2','PM10','PM25']
  rentdust.reset_index(inplace=True)
  rentdust_2020=rentdust_2020.append(rentdust)
rentdust_2020['D-H']=rentdust_2020['대여일자']+'-'+rentdust_2020['측정시간'].astype(str)
rentdust_2020=rentdust_2020[['대여일자','측정시간','D-H','SO2','CO','O3','NO2','PM10','PM25','count']]
imputer0=KNNImputer(n_neighbors=2)
imputing0=rentdust_2020[['SO2','CO','O3','NO2','PM10','PM25']]
imputed0=pd.DataFrame(imputer0.fit_transform(imputing0))
imputed0.columns=[['SO2','CO','O3','NO2','PM10','PM25']]
rentdust_2020['SO2']=imputed0['SO2']
rentdust_2020['CO']=imputed0['CO']
rentdust_2020['NO2']=imputed0['NO2']
rentdust_2020['PM10']=imputed0['PM10']
rentdust_2020['PM25']=imputed0['PM25']
rentdust_2020

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,대여일자,측정시간,D-H,SO2,CO,O3,NO2,PM10,PM25,count
0,2020-01-01,0,2020-01-01-0,0.004,1.0,0.002,0.047,45.0,33.0,50
1,2020-01-01,1,2020-01-01-1,0.004,0.7,0.002,0.044,25.0,18.0,17
2,2020-01-01,2,2020-01-01-2,0.004,0.7,0.002,0.043,26.0,18.0,30
3,2020-01-01,3,2020-01-01-3,0.004,0.8,0.001,0.043,29.0,20.0,12
4,2020-01-01,4,2020-01-01-4,0.003,0.6,0.002,0.040,26.0,18.0,14
...,...,...,...,...,...,...,...,...,...,...
739,2020-12-31,19,2020-12-31-19,0.003,1.0,0.010,0.037,93.0,70.0,43
740,2020-12-31,20,2020-12-31-20,0.004,0.8,0.013,0.052,53.0,40.0,45
741,2020-12-31,21,2020-12-31-21,0.004,0.7,0.017,0.046,51.0,40.0,30
742,2020-12-31,22,2020-12-31-22,0.003,0.9,0.017,0.053,48.0,42.0,18
743,2020-12-31,23,2020-12-31-23,0.003,0.7,0.022,0.045,51.0,39.0,14

In [ ]:
#2021
for i in range(12):
  lst=['01','02','03','04','05','06','07','08','09','10','11','12']
  rent_record=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/b_2021'+str(lst[i])+'.csv')
  rent_record1=rent_record[['대여일자','대여소번호','측정시간']]
  rent_record2=rent_record[['대여일자','SO2','CO','O3','NO2','PM10','PM25','측정시간']]
  hourly_count=rent_record1.groupby(['대여일자','측정시간']).agg('count')
  hourly_dust=rent_record2.groupby(['대여일자','측정시간']).agg('max')
  rentdust=hourly_count.join(hourly_dust)
  rentdust.columns=['count','SO2','CO','O3','NO2','PM10','PM25']
  rentdust.reset_index(inplace=True)
  rentdust_2021=rentdust_2021.append(rentdust)
rentdust_2021['D-H']=rentdust_2021['대여일자']+'-'+rentdust_2021['측정시간'].astype(str)
rentdust_2021=rentdust_2021[['대여일자','측정시간','D-H','SO2','CO','O3','NO2','PM10','PM25','count']]
imputer0=KNNImputer(n_neighbors=2)
imputing0=rentdust_2021[['SO2','CO','O3','NO2','PM10','PM25']]
imputed0=pd.DataFrame(imputer0.fit_transform(imputing0))
imputed0.columns=[['SO2','CO','O3','NO2','PM10','PM25']]
rentdust_2021['SO2']=imputed0['SO2']
rentdust_2021['CO']=imputed0['CO']
rentdust_2021['NO2']=imputed0['NO2']
rentdust_2021['PM10']=imputed0['PM10']
rentdust_2021['PM25']=imputed0['PM25']
rentdust_2021

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,대여일자,측정시간,D-H,SO2,CO,O3,NO2,PM10,PM25,count
0,2021-01-01,0,2021-01-01-0,0.003,0.5,0.026,0.014,34.0,19.0,12
1,2021-01-01,1,2021-01-01-1,0.002,0.5,0.022,0.016,24.0,14.0,10
2,2021-01-01,2,2021-01-01-2,0.002,0.6,0.018,0.020,25.0,14.0,2
3,2021-01-01,3,2021-01-01-3,0.002,0.6,0.013,0.025,27.0,16.0,3
4,2021-01-01,4,2021-01-01-4,0.003,0.6,0.011,0.027,23.0,13.0,1
...,...,...,...,...,...,...,...,...,...,...
738,2021-12-31,19,2021-12-31-19,0.004,0.7,0.026,0.021,126.0,76.0,68
739,2021-12-31,20,2021-12-31-20,0.004,0.5,0.025,0.013,104.0,47.0,38
740,2021-12-31,21,2021-12-31-21,0.003,0.6,0.030,0.014,79.0,38.0,51
741,2021-12-31,22,2021-12-31-22,0.004,0.5,0.033,0.012,63.0,38.0,32
742,2021-12-31,23,2021-12-31-23,0.002,0.4,0.029,0.009,26.0,15.0,29

In [ ]:
#2022
for i in range(3):
  lst=['01','02','03']
  rent_record=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/b_2022'+str(lst[i])+'.csv')
  rent_record1=rent_record[['대여일자','대여소번호','측정시간']]
  rent_record2=rent_record[['대여일자','SO2','CO','O3','NO2','PM10','PM25','측정시간']]
  hourly_count=rent_record1.groupby(['대여일자','측정시간']).agg('count')
  hourly_dust=rent_record2.groupby(['대여일자','측정시간']).agg('max')
  rentdust=hourly_count.join(hourly_dust)
  rentdust.columns=['count','SO2','CO','O3','NO2','PM10','PM25']
  rentdust.reset_index(inplace=True)
  rentdust_2022=rentdust_2022.append(rentdust)
rentdust_2022['D-H']=rentdust_2022['대여일자']+'-'+rentdust_2022['측정시간'].astype(str)
rentdust_2022=rentdust_2022[['대여일자','측정시간','D-H','SO2','CO','O3','NO2','PM10','PM25','count']]
imputer0=KNNImputer(n_neighbors=2)
imputing0=rentdust_2022[['SO2','CO','O3','NO2','PM10','PM25']]
imputed0=pd.DataFrame(imputer0.fit_transform(imputing0))
imputed0.columns=[['SO2','CO','O3','NO2','PM10','PM25']]
rentdust_2022['SO2']=imputed0['SO2']
rentdust_2022['CO']=imputed0['CO']
rentdust_2022['NO2']=imputed0['NO2']
rentdust_2022['PM10']=imputed0['PM10']
rentdust_2022['PM25']=imputed0['PM25']
rentdust_2022

,대여일자,측정시간,D-H,SO2,CO,O3,NO2,PM10,PM25,count
0,2022-01-01,0,2022-01-01-0,0.005,1.2,0.002,0.064,42.0,26.0,28
1,2022-01-01,1,2022-01-01-1,0.003,0.4,0.026,0.016,23.0,12.0,15
2,2022-01-01,2,2022-01-01-2,0.003,0.4,0.022,0.020,20.0,9.0,9
3,2022-01-01,3,2022-01-01-3,0.003,0.5,0.014,0.028,20.0,9.0,11
4,2022-01-01,4,2022-01-01-4,0.003,0.5,0.016,0.027,19.0,10.0,4
...,...,...,...,...,...,...,...,...,...,...
737,2022-03-31,19,2022-03-31-19,0.004,0.5,0.044,0.013,35.0,26.0,253
738,2022-03-31,20,2022-03-31-20,0.004,0.5,0.036,0.016,31.0,23.0,168
739,2022-03-31,21,2022-03-31-21,0.003,0.5,0.032,0.019,31.0,22.0,151
740,2022-03-31,22,2022-03-31-22,0.004,0.6,0.038,0.026,28.0,21.0,133
741,2022-03-31,23,2022-03-31-23,0.004,0.6,0.036,0.032,27.0,22.0,113

# 기상 관측치 전처리

In [ ]:
#2020
weather=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/weather_2020.csv',encoding='CP949')
weather['시간']=pd.to_numeric(weather['일시'].str[11:13])
weather['날짜']=weather['일시'].str[:10]
weather.columns=['지점','지점명','일시','기온','강수량','풍속','습도','현지기압','전운량','시정','시간','날짜']
weather=weather[['날짜','시간','기온','강수량','풍속','습도','현지기압','전운량','시정']]

#강수량 결측치 0으로 대체
weather['강수량']=weather['강수량'].fillna(0)

#강수량 제외한 값 보간
imputer1=KNNImputer(n_neighbors=2)
imputing1=weather[['기온','습도','현지기압','전운량','시정']]
imputed1=pd.DataFrame(imputer1.fit_transform(imputing1))
imputed1.columns=[['기온','습도','기압','전운량','시정']]
weather['기온']=imputed1['기온']
weather['습도']=imputed1['습도']
weather['기압']=imputed1['기압']
weather['전운량']=imputed1['전운량']
weather['시정']=imputed1['시정']
weather['D-H']=weather['날짜']+'-'+weather['시간'].astype(str)
weather_2020=weather[['날짜','시간','D-H','기온','강수량','풍속','습도','현지기압','전운량','시정']]

In [ ]:
#2021
weather=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/weather_2021.csv',encoding='CP949')
weather['시간']=pd.to_numeric(weather['일시'].str[11:13])
weather['날짜']=weather['일시'].str[:10]
weather.columns=['지점','지점명','일시','기온','강수량','풍속','습도','현지기압','전운량','시정','시간','날짜']
weather=weather[['날짜','시간','기온','강수량','풍속','습도','현지기압','전운량','시정']]

#강수량 결측치 0으로 대체
weather['강수량']=weather['강수량'].fillna(0)

#강수량 제외한 값 보간
imputer1=KNNImputer(n_neighbors=2)
imputing1=weather[['기온','습도','현지기압','전운량','시정']]
imputed1=pd.DataFrame(imputer1.fit_transform(imputing1))
imputed1.columns=[['기온','습도','기압','전운량','시정']]
weather['기온']=imputed1['기온']
weather['습도']=imputed1['습도']
weather['기압']=imputed1['기압']
weather['전운량']=imputed1['전운량']
weather['시정']=imputed1['시정']
weather['D-H']=weather['날짜']+'-'+weather['시간'].astype(str)
weather_2021=weather[['날짜','시간','D-H','기온','강수량','풍속','습도','현지기압','전운량','시정']]

In [ ]:
#2022
weather=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/weather_2022.csv',encoding='CP949')
weather['시간']=pd.to_numeric(weather['일시'].str[11:13])
weather['날짜']=weather['일시'].str[:10]
weather.columns=['지점','지점명','일시','기온','강수량','풍속','습도','현지기압','전운량','시정','시간','날짜']
weather=weather[['날짜','시간','기온','강수량','풍속','습도','현지기압','전운량','시정']]

#강수량 결측치 0으로 대체
weather['강수량']=weather['강수량'].fillna(0)

#강수량 제외한 값 보간
imputer1=KNNImputer(n_neighbors=2)
imputing1=weather[['기온','습도','현지기압','전운량','시정']]
imputed1=pd.DataFrame(imputer1.fit_transform(imputing1))
imputed1.columns=[['기온','습도','기압','전운량','시정']]
weather['기온']=imputed1['기온']
weather['습도']=imputed1['습도']
weather['기압']=imputed1['기압']
weather['전운량']=imputed1['전운량']
weather['시정']=imputed1['시정']
weather['D-H']=weather['날짜']+'-'+weather['시간'].astype(str)
weather_2022=weather[['날짜','시간','D-H','기온','강수량','풍속','습도','현지기압','전운량','시정']]

#데이터 병합
최종 데이터셋 생성

In [ ]:
data_2020=weather_2020.merge(rentdust_2020,how='left',on='D-H')
data_2021=weather_2021.merge(rentdust_2021,how='left',on='D-H')
data_2022=weather_2022.merge(rentdust_2022,how='left',on='D-H')

In [ ]:
#중간저장
data_2020.to_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/final_data/2020_ip1.csv')
data_2021.to_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/final_data/2021_ip1.csv')
data_2022.to_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/final_data/2022_ip1.csv')

In [ ]:
#다시 로드 후 병합
data_2020=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/final_data/2020_ip1.csv',index_col=0)
data_2021=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/final_data/2021_ip1.csv',index_col=0)
data_2022=pd.read_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/final_data/2022_ip1.csv',index_col=0)
all_data=data_2020.append(data_2021).append(data_2022) #병합

In [ ]:
all_imputed=all_data.assign(
                           wind_a=all_data['풍속'].interpolate(method='slinear'),
                           baro_a=all_data['현지기압'].interpolate(method='slinear'),
                           SO2_a=all_data['SO2'].interpolate(method='slinear'),
                           CO_a=all_data['CO'].interpolate(method='slinear'),
                           O3_a=all_data['O3'].interpolate(method='slinear'),
                           NO2_a=all_data['NO2'].interpolate(method='slinear'),
                           PM10_a=all_data['PM10'].interpolate(method='slinear'),
                           PM25_a=all_data['PM25'].interpolate(method='slinear'),
                           count_a=all_data['count'].interpolate(method='slinear')) #선형보간

In [ ]:
#정리하고 저장
all_data=all_imputed[['날짜','시간','D-H','기온','강수량','wind_a','습도','baro_a','전운량','시정','SO2_a','CO_a','O3_a','NO2_a','PM10_a','PM25_a','count_a']]
all_data.columns=['날짜','시간','D-H','기온','강수량','풍속','습도','기압','전운량','시정','SO2','CO','O3','NO2','PM10','PM25','count']
all_data.to_csv('/content/drive/MyDrive/종로 따릉이 대여예측/dataset/final_data/combined_data_with_imputation.csv')